.static-projects h1 {
  margin: 20px 0px;
  text-transform: uppercase;
}

.static-projects h1 i {
  color: mediumvioletred;
}

.static-projects .left h2 i {
  color: red;
}

.static-projects .left p {
  font-size: 15px;
  color: gray;
}

.static-projects .right img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  animation: floatUpDown 2s infinite ease-in-out;
  box-shadow: 1px 1px 10px 1px black;
}

@keyframes floatUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.static-projects-page .box {
  margin: 5px 0px;
}